.st {
  h1 {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.nd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.nobd {
  border: none;
}

.color {
  background-color: gray;
}

.left {
  text-align: left;
}
